{# base.html #}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}BO Fisherman{% endblock %}</title>

  <!-- Webflow Stylesheets -->
  <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/webflow.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bofisherman-com.webflow.css') }}" rel="stylesheet">

  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/logo.png') }}">
<link rel="icon" sizes="192x192" href="{{ url_for('static', filename='images/logo.png') }}">


  <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Lexend&display=swap" rel="stylesheet">

  {% block extra_head %}{% endblock %}
</head>
<body>
  {% include 'navbar.html' %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include 'footer.html' %}

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script src="{{ url_for('static', filename='js/webflow.js') }}"></script>
</body>
</html>
