<footer class="footer inverse-footer">
  <div class="container">
    <div class="grid-layout">
      <div>
        <h2 class="h2-heading">Embark on your fishing adventure</h2>
        <a href="/contact" class="footer-link">Get in touch →</a>
      </div>
      <div>
        <p>Call us: 123-456-7890</p>
        <a href="mailto:support@bofisherman.com" class="footer-link">support@bofisherman.com</a>
      </div>
      <ul class="w-list-unstyled">
        <li><a href="/lessons" class="footer-link">Courses</a></li>
        <li><a href="/store" class="footer-link">Store</a></li>
        <li><a href="/about" class="footer-link">About</a></li>
        <li><a href="/faq" class="footer-link">FAQ</a></li>
      </ul>
    </div>
  </div>
</footer>