{% extends "base.html" %}

{% block title %}Home | BO Fisherman{% endblock %}

{% block content %}
  {% include 'hero_section.html' %}
  {% include 'feature_highlights.html' %}
  {% include 'course_cards.html' %}
  {% include 'testimonial_quote.html' %}
  {% include 'blog_teasers.html' %}
  {# {% include 'pricing_section.html' %} #}
  {% include 'faq_section.html' %}

  {# {% include 'contact_cta.html' %} #}
  {% include 'testimonials_section.html' %}
  {% include 'partners_section.html' %}
  {% include 'signup_form.html' %}
     {% include 'contact_locations.html' %}
{% endblock %}
