{% extends "base.html" %}

{% block title %}Home | BO Fisherman{% endblock %}

{% block content %}
<section class="section inverse-section">
  <div class="container">
    <h1 class="h1-heading">Master fishing with our expert courses</h1>
    <p class="subheading">Access comprehensive online courses and shop for premium fishing gear.</p>
    <div class="button-group">
      <a href="#" class="button primary-button-on-inverse w-button">Enroll now</a>
      <a href="#" class="button secondary-button secondary-button-on-inverse w-button">Browse gear</a>
    </div>
  </div>
</section>

{% include 'course_cards.html' %}
{% include 'faq_section.html' %}
{% include 'pricing_section.html' %}
{% include 'blog_teasers.html' %}
{% include 'testimonials_section.html' %}
{% include 'partners_section.html' %}
{% include 'signup_form.html' %}
{% include 'contact_cta.html' %}
{% endblock %}

