<nav class="nav inverse-nav">
  <div class="nav-container w-nav">
    <div class="nav-left">
      <a href="/" class="nav-logo w-inline-block">
  <div class="nav-logo-icon">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="BO Fisherman Logo" style="height: 32px;">
  </div>
  <div class="paragraph-lg">Bofisherman</div>
</a>
    </div>
    <div class="nav-right">
      <ul class="nav-menu-list w-list-unstyled">
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/lessons" class="nav-link">Lessons</a></li>
        <li><a href="/blog" class="nav-link">Blog</a></li>
        <li><a href="/contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>