<nav class="nav inverse-nav">
  <div class="nav-container w-nav">
    <div class="nav-left">
      <a href="/" class="nav-logo w-inline-block">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="BO Fisherman Logo" style="height: 32px;">
        <div class="paragraph-lg">Bofisherman</div>
      </a>
    </div>

    <!-- Hamburger menu icon -->
    <div class="nav-toggle" onclick="toggleMenu()">
      ☰
    </div>

    <!-- Navigation links -->
    <div class="nav-right" id="mobileMenu">
      <ul class="nav-menu-list w-list-unstyled">
        <li><a href="{{ url_for('main.home') }}" class="nav-link">Home</a></li>
        <li><a href="{{ url_for('main.lessons') }}" class="nav-link">Lessons</a></li>
        <li><a href="{{ url_for('main.blog') }}" class="nav-link">Blog</a></li>

        {% if session.user_id %}
        <li><a href="{{ url_for('main.profile') }}" class="nav-link">Profile</a></li>
        <li><a href="{{ url_for('main.logout') }}" class="nav-link">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('main.login') }}" class="nav-link">Login</a></li>
        <li><a href="{{ url_for('main.register') }}" class="nav-link">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
