<section class="section secondary-section">
  <div class="container">
    <h2 class="h2-heading">Our professional team</h2>
    <div class="team-grid">
      <div class="team-member">
        <img src="/static/images/Bo2.jpg" alt="Partner 1" class="team-photo">
        <h3 class="team-name">Bo Liang</h3>
<p class="team-bio">Professional angler, passionate about sustainable fishing and sharing knowledge with the next generation of fishers.</p>

      </div>
      <div class="team-member">
        <img src="/static/images/chiba1.jpg" alt="Partner 2" class="team-photo">
        <h3 class="team-name">Chiba</h3>
<p class="team-bio">woof woof</p>

      </div>
      <div class="team-member">
        <img src="/static/images/dolly.jpg" alt="Partner 3" class="team-photo">
        <h3 class="team-name">Dolly</h3>
          <p class="team-bio">woof woof</p>


      </div>
      <div class="team-member">
        <img src="/static/images/horse.jpg" alt="Partner 4" class="team-photo">
         <h3 class="team-name">Victor</h3>
           <p class="team-bio">yeehaw</p>
      </div>
    </div>
  </div>
</section>
