<section class="section secondary-section">
  <div class="container">
    <h2 class="h2-heading">Our professional team</h2>
    <div class="team-grid">
      <div class="team-member">
        <img src="/static/images/Bo2.jpg" alt="Partner 1" class="team-photo">
        <h3 class="team-name">Bo Liang</h3>
<p class="team-bio">Professional angler, passionate about sustainable fishing and sharing knowledge with the next generation of fishers.</p>

      </div>
      <div class="team-member">
        <img src="/static/images/astik.jpg" alt="Partner 2" class="team-photo">
        <h3 class="team-name">Astik Arya</h3>
<p class="team-bio">Professional angler, passionate about sustainable fishing and sharing knowledge with the next generation of fishers.</p>

      </div>
      <div class="team-member">
        <img src="/static/images/Gang.jpg" alt="Partner 3" class="team-photo">
        <p>Partner 3</p>
      </div>
      <div class="team-member">
        <img src="/static/images/partner4.png" alt="Partner 4" class="team-photo">
        <p>Partner 4</p>
      </div>
    </div>
  </div>
</section>
