{% extends "base.html" %}
{% block title %}Register | BO Fisherman{% endblock %}
{% block content %}
<section class="auth-section">
  <h2>Create Account</h2>
 <form method="POST" action="{{ url_for('main.register') }}" class="auth-form">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Register</button>
    <p>Already have an account? <a href="{{ url_for('main.login') }}">Login here</a>
  </form>
</section>
{% endblock %}