# Python bytecode
__pycache__/
*.py[cod]
*.so

# Environment files
.env
*.env
.env.*

# Virtual environments
venv/
env/
.fisherman/
lib/
pyvenv.cfg

# OS/editor files
.DS_Store
*.swp
.Trashes
Thumbs.db
ehthumbs.db

# Flask-related
instance/
*.log
logs/
*.sqlite3
*.db

# ML/DL model/data files
fish_dataset/
*.npy
*.pkl
*.h5
*.pt
*.onnx

# Pytest
.pytest_cache/

# VS Code settings
.vscode/

# Migrations (if using Alembic or Flask-Migrate)
migrations/
