# Byte-compiled files
# Python bytecode
__pycache__/
*.py[cod]
*.so

# Environment variables
.env
*.env

# Virtual environments
venv/
env/
.fisherman/
lib/
pyvenv.cfg

# OS/editor files
.DS_Store
*.swp

# Flask-related
instance/
*.log
*.sqlite3
*.db

# ML/DL model/data files
*.npy
*.h5
*.pkl
*.pt
*.onnx
*.joblib

# Pytest
.pytest_cache/

# VS Code settings (optional)
.vscode/
