body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  scroll-behavior: smooth;
}

#loading-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 1.5em;
}

.hero {
  background-image: url('selfie.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 2px 2px 4px black;
}

.continue {
  height: 100vh;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
